.jumbotron{
  background-image:url("/resources/assets/backgrounds/landing.jpg");
  background-size: cover;
}
img.align{
   display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron span{
  color: white;
}
